.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: ivory;
    color: #1890FF;
}

.box1 .welcomeTitle {
    text-align: center;
    font-size: 7rem;
    font-weight: lighter;
    padding-bottom: 20px;

}

.box1 .bold {
    font-weight: bolder;
    margin-left: 15px;
}