.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: ivory;
}

.box1 .formBox{
    background: white;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 80px 50px;
    box-shadow: 0 0 30px #d3d3d3;
    border-radius: 20px;
    font-weight: bold;
    color: grey;
}

.box1 .formBox .Title{
    color: #1890FF;
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
    padding-bottom: 20px;
}